body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 140%;
	margin: 5% 15% 10%;
}
img {
	max-width: 100%;
	height: auto;
}
section {
	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid #f3f3f3;
}
a {
	color: #0091FF;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	line-height: normal;
}
h1 {
	font-size: 250%;
}
h2 {
	font-size: 180%;
}
h3 {
	font-size: 150%;
}
h4 {
	font-size: 120%;
	font-weight: normal;
}
h5 {
	font-weight: bold;
	font-size: 105%;
	font-style: italic;
}
i, em {
	font-style: italic;
}
b, strong {
	font-weight: bold
}
sup {
	font-size: 70%;
	line-height: normal;
	vertical-align: super;
}
section {
	display: block;
	page-break-before: always;
}

.copy {
	font-size: 80%;
}

table {
	border-collapse: collapse;
	border: 0px;
	margin: 0 auto;
	padding: 0;
}
#pagetitle {
	background-image: url(../assets/makeporn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(1152px/1.15);
	height: calc(157px/1.15);
	max-width: 100%;
	min-height: 100%;
	margin: 2em auto;
}
#pagetitle:hover {
	background-position: left bottom;
}
#pagetitle span {
	display: none;
}

.menu span {
	display: none;
}

#blog:link, #blog:visited {
	background-image: url(../assets/blog.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: 65px;
	height: 32px;
	display: block;
}

#blog:hover, #blog:active {
	background-position: left bottom;
}

#instagram:link, #instagram:visited {
	background-image: url(../assets/instagram.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: 158px;
	height: 32px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

#instagram:hover, #instagram:active {
	background-position: left bottom;
}

#everything:link, #everything:visited {
	background-image: url(../assets/everything.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: 457px;
	height: 32px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

#everything:hover, #everything:active {
	background-position: left bottom;
}

#wechat:link, #wechat:visited {
	background-image: url(../assets/wechat.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: 128px;
	height: 32px;
	display: block;
	text-align: right;
	margin: 0 auto;
}

#wechat:hover, #wechat:active {
	background-position: left bottom;
}

td, th {
	text-align: left;
	padding: 0px;
	vertical-align: top;
	border: 0;
}


.backto {
	font-size: 80%;
}

.master {
	font-size: 115%;
}

.paranumber {
	display: inline-block;
	font-size: 70%;
	margin-left: -1em;
	padding-right: 0.5em;
	color: b6b6b6;
}

.txl {
	margin-left: 20%;
}

.center {
	text-align: center;
}
.redpage {
	padding: 5% 10%;
	background-color: #C63833;
	color: white;
}
.red {
	color: #C63833;
}
figure {
	max-width: 100%;
	height: auto;
}
figcaption {
	font-size: 80%;
}


@media screen and (max-width: 1400px) {

#pagetitle {
	background-image: url(../assets/makeporn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(576px/1);
	height: calc(157px/2);
	max-width: 100%;
	min-height: 100%;
	margin: 2em auto;
}
#pagetitle:hover {
	background-position: left bottom;
}

#blog:link, #blog:visited {
	background-image: url(../assets/blog.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(65px/1.5);
	height: calc(32px/1.5);
	display: block;
}

#blog:hover, #blog:active {
	background-position: left bottom;
}

#instagram:link, #instagram:visited {
	background-image: url(../assets/instagram.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(158px/1.5);
	height: calc(32px/1.5);
	display: block;
}

#instagram:hover, #instagram:active {
	background-position: left bottom;
}

#everything:link, #everything:visited {
	background-image: url(../assets/everything.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(457px/1.5);
	height: calc(32px/1.5);
	display: block;
}

#everything:hover, #everything:active {
	background-position: left bottom;
}

#wechat:link, #wechat:visited {
	background-image: url(../assets/wechat.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(128px/1.5);
	height: calc(32px/1.5);
	display: block;
}

#wechat:hover, #wechat:active {
	background-position: left bottom;
}

	}


@media screen and (max-width: 1024px) {

#pagetitle {
	background-image: url(../assets/makeporn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(576px/1.5);
	height: calc(157px/3);
	max-width: 100%;
	min-height: 100%;
	margin: 2em auto;
}
#pagetitle:hover {
	background-position: left bottom;
}

#blog:link, #blog:visited {
	background-image: url(../assets/blog.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(65px/2);
	height: calc(32px/2);
	display: block;
}

#blog:hover, #blog:active {
	background-position: left bottom;
}

#instagram:link, #instagram:visited {
	background-image: url(../assets/instagram.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(158px/2);
	height: calc(32px/2);
	display: block;
}

#instagram:hover, #instagram:active {
	background-position: left bottom;
}

#everything:link, #everything:visited {
	background-image: url(../assets/everything.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(457px/2);
	height: calc(32px/2);
	display: block;
}

#everything:hover, #everything:active {
	background-position: left bottom;
}

#wechat:link, #wechat:visited {
	background-image: url(../assets/wechat.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(128px/2);
	height: calc(32px/2);
	display: block;
}

#wechat:hover, #wechat:active {
	background-position: left bottom;
}
	}


@media screen and (max-width: 768px) {

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 140%;
	margin: 5% 7% 10%;
}

h1 {
	font-size: 160%;
}
h2 {
	font-size: 130%;
}
h3 {
	font-size: 115%;
}
h4 {
	font-size: 110%;
	font-weight: normal;
}

#pagetitle {
	background-image: url(../assets/makeporn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(576px/1.5);
	height: calc(157px/3);
	max-width: 100%;
	min-height: 100%;
	margin: 2em auto;
}
#pagetitle:hover {
	background-position: left bottom;
}

#blog:link, #blog:visited {
	background-image: url(../assets/blog.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(65px/2.5);
	height: calc(32px/2.5);
	display: block;
}

#blog:hover, #blog:active {
	background-position: left bottom;
}

#instagram:link, #instagram:visited {
	background-image: url(../assets/instagram.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(158px/2.5);
	height: calc(32px/2.5);
	display: block;
}

#instagram:hover, #instagram:active {
	background-position: left bottom;
}

#everything:link, #everything:visited {
	background-image: url(../assets/everything.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(457px/2.5);
	height: calc(32px/2.5);
	display: block;
}

#everything:hover, #everything:active {
	background-position: left bottom;
}

#wechat:link, #wechat:visited {
	background-image: url(../assets/wechat.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	width: calc(128px/2.5);
	height: calc(32px/2.5);
	display: block;
}

#wechat:hover, #wechat:active {
	background-position: left bottom;
}

	}
	
